<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BlitzBuy</title>
    <!--jquery-->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    <!-- layer -->
    <script type="text/javascript" src="/layer/layer.js"></script>
    <!-- common.js -->
    <script type="text/javascript" src="/js/common.js"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: "Open Sans", sans-serif;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 11px;
        }

        body {
            /*background: #cbc0d3;*/
            background: #c9302c;
        }

        .main-header {
            width: 100%;
            height: 100px;
            /*background: #eac7cc;*/
            background: whitesmoke;
            display: block;
        }

        .navbar {
            display: inline-block;
            float: right;
            margin-right: 50px;
            margin-top: 30px;
        }

        .logo {
            display: inline-block;
            margin-top: 30px;
            margin-left: 30px;
            text-decoration: none;
        }

        .logo-lg {
            font-size: 20px;
            font-weight: lighter;
            color: #232324;
        }

        .logo-lg > b {
            font-size: 20px;
            font-weight: lighter;
            color: #232324;
        }

        .container {
            background: #FFFFFF;
            margin-right: auto;
            margin-left: auto;
            width: 900px;
        }

        .captcha {
            display: none;
        }

        .captchaImg {
            display: none;
            width: 130px;
            height: 32px;
        }
    </style>
</head>
<body>


<!--Extract common header page-->
<header id="site-header" class="main-header">
    <!-- Logo -->
    <a class="logo" onclick="toList()">
        <span class="logo-lg"><b>BlitzBuy</b></span>
    </a>

    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img class="user-image" src="/imgs/user.png" height="32" alt="User Image">
                        <span class="hidden-xs"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img class="img-circle" alt="User Image">
                            <p>
                                Hello ABC - Hello ABC
                                <small>Hello ABC</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                        </li>
                        <li class="user-footer">
                            <div class="pull-middle">
                                <a onclick="toOut()" class="btn btn-lg btn-default btn-block">Logout</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="panel panel-default">
    <div class="panel-heading" style="background: #c9302c;color: white">Flash Sale Product Details</div>
    <div class="panel-body">
        <span th:if="${user eq null}"> You are not logged in. Please login to continue.<br/></span>
        <span>Production Parameters</span>
    </div>
    <div class="container">

        <table class="table" id="good">
            <tr>
                <td>Product Name</td>
                <td colspan="3" id="goodName" th:text="${goods.name}"></td>
            </tr>
            <tr>
                <td>Image</td>
                <td colspan="3"><img id="goodImg" th:src="${goods.imageUrl}" width="200"
                                     heights="200"/></td>
            </tr>

            <tr>
                <td>Flash Sale Status</td>
                <!-- <td id="startTime" th:text="${#dates.format(goods.startTime,'yyyy-MM-dd HH:mm:ss')}"></td> -->
                <td id="flashSaleTip">
                    <input type="hidden" id="flashSaleStatus" th:value="${flashSaleStatus}"/>
                    <input type="hidden" id="remainSeconds" th:value="${remainSeconds}"/>
                    <input type="hidden" id="endTime" th:value="${goods.endTime}"/>
                    <span id="statusDisplay"></span>
                </td>
                <td>
                        <!-- <form id="flashSaleForm" method="post" action="/flashSale/doFlashSale">
                            <input type="hidden" id="goodsId" name="goodsId" th:value="${goods.id}">
                            <button class="btn btn-primary btn-block" type="submit" id="buyButton">Buy Now</button>
                        </form> -->

                   <!-- Corresponds to backend FlashSaleController v5.0 getFlashSalePath() -->
                   <input type="hidden" id="goodsId" name="goodsId" th:value="${goods.id}">
                   <button class="btn btn-primary btn-block" type="submit" onclick="getFlashSalePath()" id="buyButton">
                       Buy Now
                   </button>
                </td>
            </tr>

            <tr>
                <td>Flash Sale Price</td>
                <td id="flashSalePrice" th:text="${goods.flashSalePrice}"></td>
                <td>
                    <!--Display captcha-->
                    <img id="captchaImg" class="captchaImg" style="display: none;"/></td>
                <td>
                    <!--Input field for captcha-->
                    <input id="captcha" class="captchaImg" style="display: none;" placeholder="Enter captcha"/>
                    <input type="button" id="captchabtn" onclick="verifyCaptcha()" value="Verify Captcha" style="display: none;">
                </td>
            </tr>
            <tr>
                <td>Original Price</td>
                <td colspan="3" id="goodPrice" th:text="${goods.price}"></td>
            </tr>
            <tr>
                <td>Flash Sale Stock</td>
                <td colspan="3" id="stockCount" th:text="${goods.flashSaleStock}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
<script>
    $(function () {
        //Initialize status display based on flashSaleStatus
        var flashSaleStatus = $("#flashSaleStatus").val();
        if (flashSaleStatus == 0) {
            //Not started yet
            var initialSeconds = $("#remainSeconds").val();
            $("#statusDisplay").html("Starts in: <span id='countDown'>" + formatTime(initialSeconds) + "</span>");
            $("#buyButton").hide(); //Hide button when not started
        } else if (flashSaleStatus == 1) {
            //In progress
            var endTimeRemaining = getEndTimeRemaining();
            updateFlashSaleStatus(endTimeRemaining);
            $("#buyButton").show(); //Show button when in progress
            $("#captchaImg").attr("src", "/flashSale/getCaptcha?goodsId=" + $("#goodsId").val());//get captcha image
            $("#captchaImg").show(); // show captcha image
            $("#captcha").show(); // show captcha input field
            $("#captchabtn").show(); // show captcha button
        } else if (flashSaleStatus == 2) {
            //Ended
            $("#statusDisplay").html("Ended");
            $("#buyButton").hide(); //Hide button when ended
        }
        countDown(); //Execute countDown()
    });

    // 显示验证码（只在状态变为1时调用一次）
    function showCaptcha() {
        var goodsId = $("#goodsId").val();
        $("#captchaImg").attr("src", "/flashSale/getCaptcha?goodsId=" + goodsId);
        $("#captchaImg").show();
        $("#captcha").show();
        $("#captchabtn").show();
    }

    function countDown() {
        //Get flash sale status
        var flashSaleStatus = $("#flashSaleStatus").val();
        var timeout; //Timer/counter
        
        if (flashSaleStatus == 0) {
            //Flash sale hasn't started yet
            var remainSeconds = $("#remainSeconds").val();
            if (remainSeconds > 0) {
                $("#buyButton").hide(); //Hide buy button
                timeout = setTimeout(function () {
                    var newRemainSeconds = remainSeconds - 1;
                    var formattedTime = formatTime(newRemainSeconds);
                    $("#countDown").text(formattedTime);
                    $("#remainSeconds").val(newRemainSeconds);
                    if (newRemainSeconds == 0) {
                        //Transition to flash sale in progress
                        $("#flashSaleStatus").val(1);
                        var endTimeRemaining = getEndTimeRemaining();
                        updateFlashSaleStatus(endTimeRemaining);
                        $("#buyButton").show(); //Show button when flash sale starts
                        
                        // 只在状态变为1时显示一次验证码
                        showCaptcha();
                    }
                    countDown();
                }, 1000);
            }
        } else if (flashSaleStatus == 1) {
            //Flash sale in progress
            $("#buyButton").show(); //Show buy button
            
            //Start countdown to end time
            var endTimeRemaining = getEndTimeRemaining();
            if (endTimeRemaining > 0) {
                //Update display immediately
                updateFlashSaleStatus(endTimeRemaining);
                
                //Continue countdown
                timeout = setTimeout(function () {
                    var newEndTimeRemaining = endTimeRemaining - 1;
                    updateFlashSaleStatus(newEndTimeRemaining);
                    if (newEndTimeRemaining > 0) {
                        countDown();
                    } else {
                        //Flash sale ended
                        $("#flashSaleStatus").val(2);
                        $("#statusDisplay").html("Ended");
                        $("#buyButton").hide(); //Hide button when flash sale ends
                    }
                }, 1000);
            } else {
                //Flash sale ended
                $("#flashSaleStatus").val(2);
                $("#statusDisplay").html("Ended");
                $("#buyButton").hide(); //Hide button when flash sale ends
            }

            // 验证码已经在状态变为1时显示，这里不需要重复显示

        } else if (flashSaleStatus == 2) {
            //Flash sale ended
            $("#buyButton").hide(); //Hide buy button
            $("#statusDisplay").html("Ended");
        }
    }

    //Format seconds to DD-HH:MM:SS
    function formatTime(seconds) {
        var days = Math.floor(seconds / 86400); // 86400 = 24 * 60 * 60
        var hours = Math.floor((seconds % 86400) / 3600);
        var minutes = Math.floor((seconds % 3600) / 60);
        var secs = seconds % 60;
        
        return (days > 0 ? days + "d " : "") + 
               (hours < 10 ? "0" : "") + hours + "h " + 
               (minutes < 10 ? "0" : "") + minutes + "m " + 
               (secs < 10 ? "0" : "") + secs + "s";
    }

    //Get remaining time until flash sale ends
    function getEndTimeRemaining() {
        //This should be calculated based on your backend data
        //For now, we'll use a placeholder - you should replace this with actual logic
        var endTime = new Date($("#endTime").val()).getTime() / 1000; //Get end time from hidden field
        var currentTime = Math.floor(Date.now() / 1000);
        return Math.max(0, endTime - currentTime);
    }

    //Update flash sale status based on remaining time
    function updateFlashSaleStatus(remainingTime) {
        if (remainingTime > 0) {
            $("#statusDisplay").html("Ends in: <span id='countDown'>" + formatTime(remainingTime) + "</span>");
        } else {
            $("#flashSaleStatus").val(2);
            $("#statusDisplay").html("Ended");
            $("#buyButton").hide(); //Hide button when flash sale ends
        }
    }


    //Verify captcha
    function verifyCaptcha() {
        var captchaInput = $("#captcha").val();
        if (!captchaInput) {
            layer.msg("Please enter captcha");
            return;
        }
        
        // 验证码验证成功后，获取秒杀路径
        getFlashSalePathWithCaptcha(captchaInput);
    }

    //Get flash sale path with captcha verification
    function getFlashSalePathWithCaptcha(captcha) {
        var goodsId = $("#goodsId").val();
        $.ajax({
            url: "/flashSale/getFlashSalePath",
            type: "GET",
            data: {
                goodsId: goodsId,
                captcha: captcha
            },
            success: function (data) {
                console.log("Get flash sale path response:", data);
                if (data.code == 200) {
                    //Extract the randomly generated path from server response
                    var path = data.object;
                    console.log("Extracted path:", path);
                    console.log("Path type:", typeof path);
                    console.log("Path is undefined:", path === undefined);
                    //Execute flash sale method
                    doFlashSale(path);
                } else {
                    layer.msg(data.message);
                    // 验证码错误，刷新验证码
                    $("#captchaImg").attr("src", "/flashSale/getCaptcha?goodsId=" + goodsId + "&t=" + new Date().getTime());
                    $("#captcha").val("");
                }
            },
            error: function () {
                layer.msg("Client request error");
            }
        })
    }

    //Execute flash sale with generated path
    function doFlashSale(path) {
        $.ajax({
            //Pay attention to path case sensitivity to avoid 404 errors
            url: '/flashSale/doFlashSale/' + path,
            type: 'POST',
            data: {
                goodsId: $("#goodsId").val()
            },
            success: function (data) {
                if (data.code == 200) {
                    // Flash sale successful
                    layer.msg("Flash Sale Successful! Redirecting to order detail...");
                    
                    // Simple redirect to order detail page with order ID
                    setTimeout(function() {
                        window.location.href = "/order/detail?orderId=" + data.object;
                    }, 1500);
                } else {
                    layer.msg(data.message);
                }
            },
            error: function () {
                layer.msg("Client request error!", {time: 2000});
            }
        });
    }


</script>
</html>