<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blitzbuy.mapper.GoodsMapper">
<!--    Goods field mapping: general query-->
    <resultMap id="BaseResultMap" type="com.example.blitzbuy.pojo.Goods">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="image_url" property="imageUrl"/>
        <result column="price" property="price"/>
        <result column="description" property="description"/>
        <result column="stock" property="stock"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

<!--    GoodsVo field mapping: general query-->
    <resultMap id="GoodsVo" type="com.example.blitzbuy.vo.GoodsVo">
    <!-- Goods basic fields -->
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="image_url" property="imageUrl"/>
    <result column="description" property="description"/>
    <result column="price" property="price"/>
    <result column="stock" property="stock"/>
    <result column="status" property="status"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>

    <!-- GoodsVo additional fields -->
    <result column="flash_sale_price" property="flashSalePrice"/>
    <result column="flash_sale_stock" property="flashSaleStock"/>
    <result column="start_time" property="startTime"/>
    <result column="end_time" property="endTime"/>
</resultMap>

<!--   Query statement for getGoodsVo() method-->
    <select id="getGoodsVo" resultMap="GoodsVo">
        SELECT g.id,
               g.name,
               g.image_url,
               g.description,
               g.price,
               g.stock,
               g.status, 
               g.create_time, 
               g.update_time,
               fsg.flash_sale_price,
               fsg.flash_sale_stock,
               fsg.start_time,
               fsg.end_time
        FROM goods g
        LEFT JOIN flash_sale_goods fsg ON g.id = fsg.goods_id
        WHERE fsg.id IS NOT NULL 
        AND fsg.is_active = 1;
        </select>

<!--    Query statement for getGoodsVoByGoodsId(goodsId) method-->
    <select id="getGoodsVoByGoodsId" resultMap="GoodsVo">
        SELECT g.id,
               g.name,
               g.image_url,
               g.description,
               g.price,
               g.stock,
               g.status, 
               g.create_time, 
               g.update_time,
               fsg.flash_sale_price,
               fsg.flash_sale_stock,
               fsg.start_time,
               fsg.end_time
        FROM goods g
        LEFT JOIN flash_sale_goods fsg ON g.id = fsg.goods_id
        WHERE g.id = #{goodsId};
    </select>
</mapper>